In [1]:
import pandas as pd
import numpy as np

# Read in county-level results
* Number of votes
* North Dakota is for the whole state

In [79]:
alabama = 'data/alabama_results.xlsx'
arkansas = 'data/arkansas_results.xlsx'
california = 'data/california_results.xlsx'
colorado = 'data/colorado_results.xlsx'
idaho = 'data/idaho_results.xlsx'
iowa = 'data/iowa_results.xlsx'
maine = 'data/maine_results.xlsx'
massachusetts = 'data/massachusetts_results.xlsx'
michigan = 'data/michigan_results.xlsx'
minnesota = 'data/minnesota_results.xlsx'
mississippi = 'data/mississippi_results.xlsx'
missouri = 'data/missouri_results.xlsx'
nevada = 'data/nevada_results.xlsx'
new_hampshire = 'data/new_hampshire_results.xlsx'
north_carolina = 'data/north-carolina_results.xlsx'
north_dakota = 'data/north-dakota_results.xlsx'
oklahoma = 'data/oklahoma_results.xlsx'
south_carolina = 'data/south_carolina_results.xlsx'
tennessee = 'data/tennessee_results.xlsx'
texas = 'data/texas_results.xlsx'
utah = 'data/utah_results.xlsx'
vermont = 'data/vermont_results.xlsx'
virginia = 'data/virginia_results.xlsx'
washington = 'data/washington_results.xlsx'

In [80]:
# create list  containing states and state abbreviations
state_list = [[alabama, 'AL'],
              [arkansas, 'AR'],
              [california, 'CA'],
              [colorado, 'CO'],
              [idaho, 'ID'],
              [iowa, 'IA'],
              [maine, 'ME'],
              [massachusetts, 'MA'],
              [michigan, 'MI'],
              [minnesota, 'MN'],
              [mississippi, 'MS'],
              [missouri, 'MO'],
              [nevada, 'NV'],
              [new_hampshire, 'NH'],
              [north_carolina, 'NC'],
              [north_dakota, 'ND'],
              [oklahoma, 'OK'],
              [south_carolina, 'SC'],
              [tennessee, 'TN'],
              [texas, 'TX'],
              [utah, 'UT'],
              [vermont, 'VT'],
              [virginia, 'VA'],
              [washington, 'WA']]

# Combine Election Results
* Results are combined into one dataframe with the state abbreviation added on

In [81]:
# function for combining all the state results
def combine_results(state_list):
    
    global all_results
    
    all_results = pd.DataFrame()
    
    for state in state_list:
        results = pd.read_excel(state[0])
        print(state[1])
        active_candidates = ['Bernie Sanders', 'Joe Biden']
        active_candidates_LN = ['Sanders', 'Biden']
        
        results_df = results.transpose().reset_index()
        results_df.columns = results_df.iloc[0]
        results_df = results_df.drop(results_df.index[0])
        results_df = results_df.melt(id_vars=['Counties'],value_vars=results_df.columns.to_list()[1:-1])
        results_df['State'] = state[1]
        results_df = results_df[results_df['Counties'].isin(active_candidates_LN)]
        results_df = results_df.sort_values(by=[0, 'value'], ascending=False)

        results_df.rename(columns={"Counties": "last name", 0: "county", "State": "state", 'value': 'votes'}, inplace=True)
        
        all_results = all_results.append(results_df)

In [82]:
combine_results(state_list)

AL
AR
CA
CO
ID
IA
ME
MA
MI
MN
MS
MO
NV
NH
NC
ND
OK
SC
TN
TX
UT
VT
VA
WA

In [84]:
# Add 'County' to some county names
for index,row in all_results.iterrows():
    if row['state'] == 'WA' or row['state'] == 'AL':
        all_results.loc[index, 'county'] = row['county'] + ' County'

In [85]:
all_results

    last name                 county votes state
976     Biden          Wilcox County  1864    AL
975   Sanders          Wilcox County   284    AL
961     Biden      Washington County  1109    AL
960   Sanders      Washington County   156    AL
946     Biden          Walker County  1390    AL
..        ...                    ...   ...   ...
26    Sanders          Benton County  6911    WA
14      Biden          Asotin County  1118    WA
13    Sanders          Asotin County   705    WA
0     Sanders  Autauga County County   288    WA
1       Biden  Autauga County County   284    WA

[3200 rows x 4 columns]

In [39]:
county_facts = pd.read_csv('data/county_facts.csv')
county_facts = county_facts.rename(columns={'state_abbreviation': 'state', 'area_name': 'county'})

In [40]:
county_facts.head()

,fips,county,state,PST045214,PST040210,PST120214,POP010210,AGE135214,AGE295214,AGE775214,...,SBO415207,SBO015207,MAN450207,WTN220207,RTN130207,RTN131207,AFN120207,BPS030214,LND110210,POP060210
0,0,United States,NaN,318857056,308758105,3.3,308745538,6.2,23.1,14.5,...,8.3,28.8,5319456312,4174286516,3917663456,12990,613795732,1046363,3531905.43,87.4
1,1000,Alabama,NaN,4849377,4780127,1.4,4779736,6.1,22.8,15.3,...,1.2,28.1,112858843,52252752,57344851,12364,6426342,13369,50645.33,94.4
2,1001,Autauga County,AL,55395,54571,1.5,54571,6.0,25.2,13.8,...,0.7,31.7,0,0,598175,12003,88157,131,594.44,91.8
3,1003,Baldwin County,AL,200111,182265,9.8,182265,5.6,22.2,18.7,...,1.3,27.3,1410273,0,2966489,17166,436955,1384,1589.78,114.6
4,1005,Barbour County,AL,26887,27457,-2.1,27457,5.7,21.2,16.5,...,0.0,27.0,0,0,188337,6334,0,8,884.88,31.0

In [86]:
merged = pd.merge(all_results, county_facts, how='left', on=['county'])

In [87]:
merged

,last name,county,votes,state_x,fips,state_y,PST045214,PST040210,PST120214,POP010210,...,SBO415207,SBO015207,MAN450207,WTN220207,RTN130207,RTN131207,AFN120207,BPS030214,LND110210,POP060210
0,Biden,Wilcox County,1864,AL,1131.0,AL,11098.0,11665.0,-4.9,11670.0,...,0.0,37.6,0.0,21337.0,75708.0,6018.0,12949.0,0.0,888.50,13.1
1,Biden,Wilcox County,1864,AL,13315.0,GA,8847.0,9255.0,-4.4,9255.0,...,0.0,11.2,0.0,0.0,27365.0,3157.0,612.0,0.0,377.71,24.5
2,Sanders,Wilcox County,284,AL,1131.0,AL,11098.0,11665.0,-4.9,11670.0,...,0.0,37.6,0.0,21337.0,75708.0,6018.0,12949.0,0.0,888.50,13.1
3,Sanders,Wilcox County,284,AL,13315.0,GA,8847.0,9255.0,-4.4,9255.0,...,0.0,11.2,0.0,0.0,27365.0,3157.0,612.0,0.0,377.71,24.5
4,Biden,Washington County,1109,AL,1129.0,AL,16834.0,17583.0,-4.3,17581.0,...,0.0,25.6,1153449.0,32856.0,76343.0,4458.0,0.0,2.0,1080.21,16.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9623,Sanders,Benton County,6911,WA,53005.0,WA,186486.0,175177.0,6.5,175177.0,...,5.4,29.6,0.0,755416.0,2122018.0,13309.0,238019.0,942.0,1700.38,103.0
9624,Biden,Asotin County,1118,WA,53003.0,WA,22189.0,21623.0,2.6,21623.0,...,0.0,17.0,0.0,0.0,208856.0,9867.0,22983.0,35.0,636.21,34.0
9625,Sanders,Asotin County,705,WA,53003.0,WA,22189.0,21623.0,2.6,21623.0,...,0.0,17.0,0.0,0.0,208856.0,9867.0,22983.0,35.0,636.21,34.0
9626,Sanders,Autauga County County,288,WA,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9627,Biden,Autauga County County,284,WA,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN